<!-- templates/contact.html -->
{% extends "base.html" %}
{% block content %}
<header class="navbar">
  <div class="nav-left">
    <span class="logo-text">CONTACT</span>
  </div>
  <nav class="nav-right">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('projects') }}">Projects</a>
    <a href="{{ url_for('contact') }}">Contact</a>
  </nav>
</header>

<div class="page-content">
  <h1>Contact Me</h1>

  <div class="contact-info">
    <p><strong>이메일:</strong> skim291@gmu.edu</p>
    <p><strong>전화번호:</strong> 010-4087-9346</p>
    <p><strong>LinkedIn:</strong> <a href=https://www.linkedin.com/in/skim291/ target="_blank">linkedin.com/in/your-link</a></p>
  </div>
</div>
{% endblock %}
