<!-- templates/index.html -->
{% extends "base.html" %}
{% block content %}
<header class="navbar">
  <div class="nav-left">
    <span class="logo-text">SEOHYUN KIM</span>
  </div>

  <nav class="nav-right">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('projects') }}">Projects</a>
    <a href="{{ url_for('contact') }}">Contact</a>
  </nav>
</header>

<div class="intro">
  <h1>김서현</h1>
  <h2>신입 데이터 분석가</h2>

  <div class="info">
    <p><strong>생년월일</strong> 2003.09.01</p>
    <p><strong>전화번호</strong> 010-4087-9346</p>
    <p><strong>이메일</strong> skim291@gmu.edu</p>
    <p><strong>LinkedIn:</strong> <a href=https://www.linkedin.com/in/skim291/ target="_blank">linkedin.com/in/your-link</a></p>
    <p><strong>주소</strong> 서울시 종로구</p>
  </div>

  <a href="{{ url_for('projects') }}" class="resume-link">프로젝트 보러가기 ↓</a>
</div>
{% endblock %}
